<suite name="Parallel Testing Execution" verbose="2" parallel="instances" thread-count="2">
    <listeners>
        <listener class-name="com.Tenpearls.Listeners.ExtentReporterNG"/>
    </listeners>
    <!--    <test name="Parallel Testing For Bob and Alice End To End (Ticket 2874: Part 1) ">-->
    <!--        <classes preserve-order="true">-->
    <!--            <class name="com.Tenpearls.TestCases.JeenieTestBobE2E"/>-->
    <!--            <class name="com.Tenpearls.TestCases.JeenieTestAlice"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="Parallel Testing For Business and Alice End To End">-->
    <!--        <classes preserve-order="true">-->
    <!--            <class name="com.Tenpearls.TestCases.JeenieTestBusinessE2E"/>-->
    <!--            <class name="com.Tenpearls.TestCases.JeenieTestAlice"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <test name="Case execute for Restricted User">
        <classes preserve-order="true">
            <class name="com.Tenpearls.TestCases.JeenieTestRestrictedE2E"></class>
        </classes>
    </test>
</suite>