<suite name="Parallel Testing testing" verbose="1" parallel="classes" thread-count="2">
    <test name="Parallel Testing" >
        <classes preserve-order="true">
            <class name="TestCases.JeenieTestOne" />
            <class name="TestCases.JeenieTestTwo" />
        </classes>
    </test>
</suite>