<suite name="Parallel Testing Execution" verbose="2" parallel="instances" thread-count="2">
    <test name="Parallel Testing Class" preserve-order="true">
        <classes preserve-order="true">
            <class name="TestCases.JeenieTestOne"/>
            <class name="TestCases.JeenieTestTwo"/>
        </classes>
    </test>
</suite>